#main-content{
    background-color: #01000A;
    color:#F6F7FA;
}
#contact{
    padding:0;
}

.contact-container{
    background-color: #F6F7FA;
    margin: 30px;
    padding:15px;
    border:1px solid #8086A6;
    border-radius:8px ;
    color:#192240;
}


.location-container{
    background-color: #F6F7FA;
}


  
iframe {
    width:100%;
    height: 300px;
    object-fit: cover;
    object-position: center; 
    z-index: 1;
    opacity: 80%;
  }


.location-container iframe{
    width: 100%;
}